#banner .container>.row>.col-6 .container>i{
    color: white;
    margin-left: 30px;
}


#contact {
    color: white; 
    margin-top: 40pt;
    background-color: black;
    height: 150px;
}
#submit {
    margin-left: 10pt;
    width: 20%px;
}
#example {
    width: 60%;
}


#navbar{
    margin-top: 30px;
    color: #CCCCCC;
}
#logotext {
    margin-left: 10px;
    margin-top: 5px;
}
#logotxt{
    color: #CCCCCC;
}
#article{
    margin-top: 10px;
    color: #4cffcd;
}
#info{
    height: 800px;
    background-color: #4571966b;
}
#cnctus {
    color: rgb(122, 191, 236);
    text-align: center; 
    margin-top: 100pt;
}
#lstxt {
    color: white; 
    margin-top: 50pt;
    background-color: black;
}
#sbmt {
    margin-left: 10pt;
    width: 10%;
}
#gvemail {
    color: rgb(148, 42, 39); 
    text-align: center; 
    margin-top: 10pt;
}
#email {
    margin-top: 100px;
    margin-left: 30%;
    width: 60%;
}
#fff {
    background-color: black; 
    height: 500px;
}
#exampleInputEmail1 {
    margin-left: 200px;
    width: 600px;
    margin-left: 30px;
}
#picture {
    background-image: url(img/background2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 80%;
}
#carouselExampleSlidesOnly {
    width: 1000px;
    margin-left: calc(50vw - 500px);
    padding-top: 87px;
}
