#header {
position: absolute;
width: 1920px;
height: 750px;
left: 0px;
top: 0px;
mix-blend-mode: normal;
overflow: hidden;
background-image: url(img/pic1.jpg);
background-position: center;
background-repeat: no-repeat;
background-size: cover;
background-attachment: fixed;
overflow: hidden;
}
#logodiv {
position: absolute;
width: 150px;
height: 150px;
left: 885px;
top: 0px;
overflow: hidden;
}
#logo {
position: absolute;
width: 120px;
height: 120px;
left: 15px;
top: 15px;
overflow: hidden;
}
#infabus {
position: absolute;
width: 350px;
height: 530px;
left: 40px;
top: 20px;
overflow: hidden;
}
#information {
position: absolute;
width: 200px;
height: 119px;
left: 75px;
top: 205px;
background: #FFFFFF;
border-radius: 20px;
overflow: hidden;
}
#infabus2 {
position: absolute;
width: 350px;
height: 530px;
left: 1530px;
top: 20px;
overflow: hidden;
}
#information2 {
position: absolute;
width: 200px;
height: 119px;
left: 75px;
top: 200px;
background: #FFFFFF;
border-radius: 20px;
overflow: hidden;
}
#phofus {
position: absolute;
width: 800px;
height: 400px;
left: 560px;
top: 150px;
overflow: hidden;
}
#photoUs {
position: absolute;
width: 600px;
height: 300px;
left: 100px;
top: 50px;
overflow: hidden;
}
#aboutMe {
position: absolute;
width: 1920px;
height: 996px;
left: 0px;
top: 600px;
}
#aboutMe1 {
position: absolute;
width: 1920px;
height: 500px;
left: 0px;
background-image: url(img/pic2.jpg);
background-position: center;
background-repeat: no-repeat;
background-size: cover;
background-attachment: fixed;
overflow: hidden;
}
#posts1 {
position: absolute;
width: 850px;
height: 450px;
left: 1000px;
top: 36px;
overflow: hidden;
}
#post1_1 {
position: absolute;
width: 550px;
height: 100px;
left: 100px;
top: 314px;
background: #EE73E2;
overflow: hidden;
}
#post1_2 {
position: absolute;
width: 550px;
height: 100px;
left: 100px;
top: 175px;
background: #EE73E2;
overflow: hidden;
}
#post1_3 {
position: absolute;
width: 550px;
height: 100px;
left: 100px;
top: 36px;
background: #EE73E2;
overflow: hidden;
}
#photoMe1 {
position: absolute;
width: 850px;
height: 450px;
left: 50px;
top: 40px;
overflow: hidden;
}
#description1 {
position: absolute;
width: 280px;
height: 70px;
left: 260px;
top: 345px;
background: #FFFFFF;
overflow: hidden;
}
#avatar1 {
position: absolute;
width: 280px;
height: 280px;
left: 260px;
top: 35px;
background: #FFFFFF;
border-radius: 200px;
overflow: hidden;
}
#aboutMe2 {
position: absolute;
width: 1920px;
height: 500px;
top: 497px;
left: 0px;
transform: scaleX(-1);
background-image: url(img/pic3.jpg);
background-position: center;
background-repeat: no-repeat;
background-size: cover;
background-attachment: fixed;
}
#posts2 {
position: absolute;
width: 850px;
height: 450px;
left: 1020px;
top: 30px;
transform: matrix(-1, 0, 0, 1, 0, 0);
overflow: hidden;
}
#post2_1 {
position: absolute;
width: 550px;
height: 100px;
right: 100px;
top: 36px;
background: #EE73E2;
transform: matrix(-1, 0, 0, 1, 0, 0);
overflow: hidden;
}
#post2_2 {
position: absolute;
width: 550px;
height: 100px;
right: 100px;
top: 175px;
background: #EE73E2;
transform: matrix(-1, 0, 0, 1, 0, 0);
overflow: hidden;
}
#post2_3 {
position: absolute;
width: 550px;
height: 100px;
right: 100px;
top: 314px;
background: #EE73E2;
transform: matrix(-1, 0, 0, 1, 0, 0);
overflow: hidden;
}
#photoMe2 {
position: absolute;
width: 850px;
height: 450px;
left: 70px;
top: 30px;
transform: matrix(-1, 0, 0, 1, 0, 0);
overflow: hidden;
}
#description2 {
position: absolute;
width: 280px;
height: 70px;
left: 260px;
top: 345px;
background: #FFFFFF;
transform: matrix(-1, 0, 0, 1, 0, 0);
overflow: hidden;
}
#avatar2 {
position: absolute;
width: 280px;
height: 280px;
left: 260px;
top: 35px;
background: #FFFFFF;
transform: matrix(-1, 0, 0, 1, 0, 0);
border-radius: 200px;
overflow: hidden;
}
#footer {
position: absolute;
width: 1920px;
height: 500px;
left: 0px;
top: 1596px;
overflow: hidden;
}
#contactUs {
position: absolute;
width: 1100px;
height: 400px;
left: 410px;
top: 50px;
overflow: hidden;
}
#sbmt {
position: absolute;
width: 200px;
height: 40px;
left: 810px;
top: 135px;
background: #EE73E2;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
overflow: hidden;
}
#nmSrnm {
position: absolute;
width: 600px;
height: 30px;
left: 100px;
top: 80px;
background: #FFFFFF;
overflow: hidden;
}
#tell {
position: absolute;
width: 600px;
height: 30px;
left: 100px;
top: 140px;
background: #FFFFFF;
overflow: hidden;
}
#email {
position: absolute;
width: 600px;
height: 30px;
left: 100px;
top: 200px;
background: #E5E5E5;
overflow: hidden;
}




























.parallax {
    perspective: 1px;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
  }
  .parallax__layer {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
  .parallax__layer--base {
    transform: translateZ(0);
  }
  .parallax__layer--back {
    transform: translateZ(-20px);
  }